<html>
<head>
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script src="~/lib/ckeditor/ckeditor.min.js"></script>
    <link href="~/lib/ckeditor/contents.css" rel="stylesheet" />
    <link href="~/lib/ckeditor/contents.min.css" rel="stylesheet" />
</head>
<body>
<textarea id="editor"></textarea>


    <script>
        CKEDITOR.replace('editor', {
            height: 200
        });
    </script>
</body>

</html>