 <header id="header" class="header">

            <table>
                <tr>
                    <td width="25%"><a class="navbar-brand" href="./"><img src="~/images/siti_logo.jpg" /></a></td>
                    <td width="50%"><h1 class="heading row-cols-2"> Operations Manager</h1></td>
                    <td width="25%"></td>
                </tr>
            </table>

        </header><!-- /header -->
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <a class="navbar-brand" href="./Dashbord">Home</a>
                    
                </div>
                <div class="col-sm">
                                        <a class="navbar-brand" href="../EnterIssue/Index"> LogIn Issue</a>
                </div>
                <div class="col-sm">
                    Log Sheet
                </div>
                <div class="col-sm">
                    Customer Complaint
                </div>
                <div class="col-sm">

                    Log Out
                </div>
            </div>
        </div>