body {
}
.center {
    margin: auto;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px;
    border-radius: 5px 5px 5px 5px;
    border-block-color: #598989;
    width: 80%;
}
.innerDivcenter {
    margin: auto;
    width: 80%;
    padding: 10px;
}
.textcenter {
    text-align: center;
}